/* REGOLE GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: url(../img/default-pattern.png);
  font-family: 'Raleway', sans-serif;

}

/* REGOLE MENU E INTESTAZIONE */
header{
  color: #fff;
  text-transform: uppercase;
}
.header_title_img{
  position: relative;
  height: 400px;
  background-image: url(../img/default-header.jpg);
  background-size: cover;
  border: 10px solid #fff;
}
.header_title_img img{
  height: 250px;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);

}

header h3{
  position: absolute;
  bottom: 30px;
  left:50%;
  transform: translate(-50%, 0);
  font-weight: 600;
  font-size: 25px;

}
/* menu */
nav{
  height: 48px;
  background-color: rgba(102, 102, 102, 0.6);
}
nav a{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
nav ul{
  margin: auto;
  width: 80%;
  list-style: none;

}
nav ul li{
  position: relative;
  line-height: 48px;
  vertical-align: middle;
  float: left;
  font-size: 15px;
  border-left: 1px solid #666666;
  padding: 0 15px;
}
nav ul li:hover{
  background-color: #302A26;
  cursor: pointer;
}
#menu ul ul {
	position: absolute;
	top: 48px;
  left: 0;
  width: 100%;
	visibility: hidden;

}

#menu ul li:hover ul {
	visibility: visible;
  background-color: rgba(102, 102, 102, 0.9);
}
#menu ul ul > li {
  width: 100%;
}

/* REGOLE DELLA PARTE CONTENUTO */
main{
  width: 100%;
}

.float_left{
  float: left;
  margin: 15px 0;
  padding: 5px;
  border-radius: 5px;
}

main:after{
  content: "";
  display: table;
  clear: both;
}
main h3{
  font-size: 30px;
  margin: 20px 0px;
}
main p{
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 20px;
}
/* COLONNA SINISTRA */
.left_col{
  width: 25%;
  background-color: #fff;
}
.title_col_left i{
  float: left;
  color: orange;
  font-size: 30px;
}
.title_col_left div{
  float: left;
  font-size: 25px;
  text-transform: capitalize;
  padding-left: 10px;
}
.title_col_left:after{
  content: "";
  display: table;
  clear: both;
}
.left_col ul{
  list-style: none;
  margin-top: 20px;
}
.left_col li{
  margin: 15px 0;
}
.left_col a{
  color: green;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 25px;
  font-weight: 400;
}
.left_col a:hover{
  color: grey;
}

/* PARTE CENTRALE */
.center_col{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #fff;
  padding: 10px;
}
.center_col h3{
  text-shadow: 2px 2px 3px #000;
  text-transform: uppercase;
}

/* COLONNA DESTRA */
.right_col{
  width: 25%;
}
.module{
  margin-bottom: 10px;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}
.module h3{
  text-transform: capitalize;
}


/* REGOLE DEL FOOTER */
footer{
  position: relative;
  height:200px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  color: #CECECE;
}
footer p{
  display: inline-block;
  margin: 10px 0;
}
footer div{
  width: 100%;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  display: inline-block;
}
footer div i{
  margin-left: 100px;
  margin-right: 100px;
}
footer div i:hover{
  cursor: pointer;
}
footer div i.fb:hover{
  color: blue;
}
footer div i.insta:hover{
  color: purple;
}
footer div i.git:hover{
  color: black;
}
.cssvalidator{
  margin-top: 20px;
  text-align: center;
}
